<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
  
    <add key="FiksBaseAddress" value="https://app.transportlocks.com" />
    
    <!--<add key="FiksBaseAddress" value="http://transportlocks-test.eba-g6yw3aws.ap-south-1.elasticbeanstalk.com" />-->    
    <!--<add key="FiksBaseAddress" value="https://app.transportlocks.com"/>-->
    
    <add key="log4netSource" value="log4net.config" />
    
    <!-- Ftp Credentials -->
    <add key="FtpUserName" value="muniraj" />
    <add key="FtpPassword" value="Panel@123" />
    <add key="FtpUrl" value="ftp://reckonlogic.com/" />
    <add key="FtpDirectoryPath" value="AuximoLockManagementUI/SquirrelReleases/" />
    <add key="ReleaseUpdateDestinationPath" value="D:\Apps\Releases" />

    <add key="IUpdateAvailable" value="true" />
  </appSettings>
  <!--<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Shared.Wpf"
          publicKeyToken="3d67ed1f87d44c89"
          culture="en-us" />
        <bindingRedirect oldVersion="17.4460.0.39" newVersion="17.4451.0.47" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Shared.Wpf" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-17.4460.0.55" newVersion="17.4460.0.55" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.SfShared.Wpf" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-17.4460.0.55" newVersion="17.4460.0.55" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
